* {
  box-sizing: border-box;
}

body {
  background-color: #181d23;
  color: #fff;
  font-size: 14px;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-style: italic;
}

h2 {
  font-style: italic;
  /* font-weight: 500; */
}

h3 {
  text-align: center;
  margin-top: 40px;
}

h4 {
  text-align: center;
}

button {
  background-color: #509cff;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  height: 35px;
}

button:hover {
  transition: all .2s ease-in-out;
  background-color: #348afa;
}

button:active {
  background-color: #4485d9;
}

.card {
  padding: 20px;
  margin: 30px;
  width: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #242a31;
}

textarea {
  background-color: #4c4e54;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  resize: none;
  width: 100%;
  min-height: 75px;
  border-radius: 10px;
  border: 1px solid #686a6d;
  padding: 10px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23ffffff'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 10px;
  background-position: right 10px top 60%;
  background-repeat: no-repeat;
  background-color: #4c4e54;
  border-radius: 10px;
  border: 1px solid #686a6d;
  color: #fff;
  height: 35px;
  width: 125px;
  /* text-align: center; */
  text-indent: 10px;
}

input {
  background-color: #4c4e54;
  color: #fff;
  height: 35px;
  border: none;
  border-radius: 10px;
  border: 1px solid #767676;
  padding: 10px;
  margin-bottom: 15px;
}

/* NAV */
nav {
  display: flex;
  padding: 10px 10px 30px 10px;
  margin-bottom: 32px;
  flex-direction: column;
  /* background-color: #13171c;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  isolation: isolate; */
}

.logo {
  font-family: 'DM Serif Display', serif;
  font-style: italic;
  font-size: 30px;
  padding: 10px;
}

.logo-small {
  font-family: 'DM Serif Display', serif;
}

.navbar {
  display: flex;
}

.login-logout {
  margin-left: auto;
}

/* LINKS */
a {
  margin: 0 10px;
  padding: 5px;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.275);
  position: relative;
}

a::before {
  content: '';
  background-color: #509cff;
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 5px;
  z-index: -1;
  transition: all .15s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
}

/* NEWPOST, TIMELINE, & TAGS */
.new-post, .timeline, .tags, .trends {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* POSTS */
.post-form {
  width: 700px;
}

.post-form-bottom, .edit-form-bottom, .post-bottom, .sort-filter-select {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-top: 20px;
}

.post-button {
  margin-left: auto;
}

.edit-button{
  margin-left: auto;
}

.secondary-button {
  background-color: #4c4e54;
}

.secondary-button:hover {
  background-color: #767676;
}

.secondary-button:active {
  background-color: #3c3d41;
}

.post-bottom-buttons {
  display: flex;
  gap: 10px;
}

.edit-button, .delete-button, .settings-button, .done-button, .close-button {
  background-repeat: no-repeat;
  background-position: center;
}

.edit-button {
  background-image: url("../public/edit_icon.svg");
  background-size: 25px;
}

.delete-button {
  background-image: url("../public/delete_icon.svg");
  background-size: 25px;
}

.settings-button {
  background-image: url("../public/settings_icon.svg");
  background-size: 18px;
}

.done-button {
  background-image: url("../public/done_icon.svg");
  background-size: 25px;
}

.close-button {
  background-image: url("../public/close_icon.svg");
  background-size: 25px;
}

.post > div {
  padding: 10px;
}

.post-text {
  background-color: #4c4e54;
  border-radius: 10px;
}

.post-mood-tag {
  display: flex;
}

.post-mood span {
  font-size: 11px;
  font-weight: 700;
  color: #509cff;
  margin-right: 5px;
}

.post-tag {
  text-align: right;
  margin-left: auto;
  height: auto;
  display: flex;
  gap: 5px;
}

.post-tag svg {
  height: 18px;
  width: auto;
  fill: #509cff;
  margin-right: 2px;
}

.post-datetime {
  color: #7f8080;
  font-size: 14px;
  font-style: italic;
}

/* PROFILE, EDIT TAGS DIALOG, LOGIN, & SIGNUP */
.profile-container, .login-container, .signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form, .login-form, .signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.edit-tags-form {
  display: flex;
  gap: 10px;
}

.edit-tag-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tag-text {
  /* background-color: #4c4e54; */
  display: flex;
  align-items: center;
  border: 1px solid #686a6d;
  border-radius: 10px;
  padding: 0 10px;
  height: 35px;
  width: 150px;
}

.edit-tag-input {
  width: 150px;
}

#tag-done-button {
  display: flex;
  justify-content: center;
}

/* ANIMATIONS */
.fade-out {
  animation: fade-out 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.fade-in-fwd {
  animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-fwd {
  from {
    /* transform: translateZ(-80px); */
    opacity: 0;
  }
  to {
    /* transform: translateZ(0); */
    opacity: 1;
  }
}

.fade-in-fwd-up {
  animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, slide-up  0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-delay: calc(125ms * calc(var(--index) - 1));
}

.card-container:nth-child(2) {
  --index: 2;
}

.card-container:nth-child(3) {
  --index: 3;
}

.card-container:nth-child(4) {
  --index: 4;
}

.card-container:nth-child(5) {
  --index: 5;
}

.card-container {
  perspective: 200px;
}

@keyframes slide-up {
  0% {
    transform: translateY(15px) rotateX(-5deg);
  }
  /* 50% {
    transform: translateY(15px) rotateX(-4deg);
  } */
  100% {
    transform: none;
  }
}

.fade-out-down {
  animation: fade-out-down 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both
}

@keyframes fade-out-down {
  100% {
    opacity: 0%;
    transform: translateY(15px) rotateX(-5deg);
  }
}

/* DIALOGS */
.back-drop {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 200px;
}

.dialog {
  background-color: #242a31;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
}

.dialog-buttons {
  display: flex;
  gap: 20px;
}